.parallax-home {
    background-image: url(../arquivos/imagens/slides/torreEiffel.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    margin: 0;
    padding: 0;
}

.nav-header {
    width: 73px;
}

.nav-header-home {
    width: 53px;
}

.logo-home {
    width: 100%;
    max-width: 230px;
    height: auto;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
  }

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-bottom: .8em;
}