@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-bottom: .8em;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #e3e3e3;
}

nav {
    overflow: hidden;
}

.img-slider {
    max-width: 100%;
    height: 550px;
}

@media (max-width: 235px) {
    .img-slider {
      height: 100px;
    }
  }

#scroll-to-top {
    position: fixed;
    bottom: 4%;
    right: 1%;
  }
  
  #scroll-to-top a {
    text-decoration: none;
    font-size: 10%;
    color: #ffffff;
    background-color: #000000;
    padding: 1%;
    border-radius: 50%;
  }

.nav-link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.parallax-home1 {
    background-image: url(../arquivos/imagens/slides/torreEiffelParallax1.png);
    height: 35vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    margin: 0;
    padding: 0;
}

.parallax-home2 {
    background-image: url(../arquivos/imagens/slides/torreEiffelParallax2.png);
    height: 35vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo-home {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.logo-footer {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
}

@media (max-width: 200px) {
    .logo-footer {
      margin: 0;
    }
  }

.linha-footer {
    border-right: 2px solid #000000;
    padding-right: 1%;
}

  @media (max-width: 200px) {
    .texto-footer {
      display: none;
    }
  }

  @media (max-width: 243px) {
    .texto-redes {
      display: none;
    }
  }

/*
.col-3 {
    border-right: 1px solid #000;
    padding-right: 10px;
}
*/

.nav-header {
    max-width: 100%;
}

.nav-header-home {
    max-width: 100%;
}

.bi.icones-footer {
    font-size: 150%;
    color: #000;
}

.icones-footer:hover {
    color: #1d1919 !important;
  }

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  margin-top: 16%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  margin-top: 16%;
}