html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-bottom: .8em;
}

body {
    background-color: #e3e3e3;
}

.parallax-home1 {
    background-image: url(../arquivos/imagens/slides/torreEiffelParallax1.png);
    height: 30vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    margin: 0;
    padding: 0;
}

.parallax-home2 {
    background-image: url(../arquivos/imagens/slides/torreEiffelParallax2.png);
    height: 30vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo-home {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.logo-footer {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

#linha-footer {
    border-right: 1px solid #000;
    padding-right: 10px;
}

/*
.col-3 {
    border-right: 1px solid #000;
    padding-right: 10px;
}
*/

.nav-header {
    width: 73px;
}

.nav-header-home {
    width: 53px;
}

.bi.icones-footer {
    font-size: 24px;
    color: #000;
}

.icones-footer:hover {
    color: #1d1919 !important;
  }
  

